<!-- Embedded JavaScript -->
<div class="container">
  <div class="navbar-header">
      <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-ex8-collapse" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WHATBEFORE</a>
      </div>   
  </div>
  <div class="collapse navbar-collapse navbar-ex8-collapse">
      <ul class="nav navbar-nav" data-active-menu="<%=activeMenu%>">
          <li class="menu-home">
              <a href="/">Home</a>
          </li>
          <li class="menu-nexus">
              <a href="/nexus">Hyper Nexus</a>
          </li>
          <li>
              <a href="/about">About</a>
          </li>
      </ul>
  </div>
</div>